<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-6">
        <%= form_tag import_contacts_path, class: "form-group", multipart: true do %>
        <%= file_field_tag :file, class: "form-control" %>
        <%= submit_tag "Import", class: "form-control btn-primary" %>
        <% end %>
    </div>
    <div class="col-md-6">
        <%= link_to 'New Contact', new_contact_path %>
    </div>
</div>


<div class="contacts">
    <div class="row">
        <h1>Contacts</h1>
    </div>

    <% @contacts.each do |contact| %>
    <div class="col-md-6">
        <div class="nametag">
            <p><small>Name:</small> <%= contact.name %></p>
            <p><small>Number:</small> <%= contact.phone_num %></p>
            <%= link_to "Delete", contact, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
        <br>
    </div>
    <% end %>
</div>
